xml/dtd/application.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT application (page-title+, months+, days+, information-title+, calendar-choice+, go-to+)>
<!ELEMENT page-title (#PCDATA)>

<!ELEMENT months (month+)>
<!ELEMENT month (full+, short+)>

<!ELEMENT days (day+)>
<!ELEMENT day (full+, short+)>


<!ELEMENT full (#PCDATA)>
<!ELEMENT short (#PCDATA)>

<!ELEMENT information-title (#PCDATA)>
<!ELEMENT calendar-choice (#PCDATA)>
<!ELEMENT go-to (#PCDATA)>

<!ATTLIST application lang CDATA #REQUIRED>